body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#feedback-container {
  display: none;
  margin-top: 20px;
}

#feedback {
  font-weight: bold;
  margin-bottom: 10px;
}

#explanation {
  margin-bottom: 20px;
}

#score-container {
  text-align: center;
  margin-top: 20px;
}

#score-container p {
  margin: 5px;
}

/* Media query for larger screens */
@media (min-width: 768px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

/* Custom styles for Kahoot-like design */
.container {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 30px;
}

ul li {
  background-color: #e9e9e9;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 30px;
}

button {
  background-color: #ff9800;
}

button:hover {
  background-color: #f57c00;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 90%;
  width: 400px;
}

@media (max-width: 767px) {
  .popup-content {
    max-width: 100%;
    width: 90%;
  }
  
  #question-container img {
    width: 100%;  /* take full width of the container on mobile */
    height: auto; /* maintain the image's aspect ratio */
  }
}

#question-container img {
  width: 100%;  /* or whatever fixed width you want */
  height: 100%; /* or whatever fixed height you want */
  object-fit: cover; /* this will crop the image to fit the dimensions */
  display: block;
  margin: 20px auto; /* centers the image horizontally and adds some vertical spacing */
  border-radius: 10px; /* optional: to make the image corners rounded */
}

#fungi-dropdown {
  width: 100%; /* Full width of the container */
  padding: 10px; /* Padding for better appearance */
  margin-bottom: 20px; /* Margin for spacing */
  border: 1px solid #ccc; /* Border color */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  background-color: #fff; /* Background color */
  appearance: none; /* Removes default styling in some browsers */
  -webkit-appearance: none; /* Removes default styling in Webkit browsers */
  -moz-appearance: none; /* Removes default styling in Firefox */
}

#fungi-dropdown:focus {
  outline: none; /* Removes the default focus outline */
  border-color: #4CAF50; /* Changes border color on focus */
}

